.main-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
   }
   .sidenav{
       position: relative;
       width: 20%;
       height: 100%;
       top: -4%;
   }
   .body{
       position: relative;
       height: 100%;
       flex: 1;
   
   }
   .body .header{
       position: relative;
       height: 30%;
       width: 100%;
   }
   .body .main-content{
       position: relative;
       width: 100%;
       height: 100%;
   }
   .j-logo{
       width: 30px;
       height: 30px;
       border-radius: 50%;
       justify-content: center;
       
   }
   .profile-at-top:hover , .profile-at-top-name{
    cursor: pointer;

   }
   /* .profile-at-top:hover img{
    border: 2px solid darkorange;
   } */
   .header > .right-top-icons{
       position: relative;
       float: right;
   }
   .right-top-icons i:hover{
       position: relative;
       color: var(--clr-in-hover2);
       font-weight: 900;
       cursor: pointer;
   }
   .user-profile{
       width: 30px;
       height: 30px;
       border-radius: 50%;
       background: url('');
       background-position: center;
       align-items: center;
   }
   
   .main-content .rooms{
       position: relative;
       width:65%;
       height:100%;
       left: 0;
       overflow-y: auto;
   }
   .main-content .room-info{
       top: 0;
       position: relative;
       width: 30%;
       height: 100%;
       overflow-y: scroll;
       background: #fff;
       padding: 1rem;
   }
    .room-info .room-info-content{
        position:relative;
        top: 20%;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
    .room-info .room-info-content::-webkit-scrollbar{
        display: none;
    }
   .main-content .room-info::-webkit-scrollbar {
    display: none;
  }
   .room-info-text{
   margin-right: 15rem;
   }
   .rooms .room-container{
       position: relative;
       width: 100%;
       min-height: 60%;
       margin-bottom: 2rem;
   }
   
    .room-container .room-holder{
       background-size: cover;
       background-position: center;
       width: 95%;
       min-height: 90%;
       position: absolute;
   }
   .room-holder .room-holder-footer{
     position: relative;
     transform: translateY(285%);
     width: 100%;
     height: 20%;
     background: rgba(250,250,250,.5);
     border-radius: 10px;
     
   }
   .room-name h5{
       text-shadow: #333 solid black;
   }
   .available-rooms{
       background-color: #4158D0;
   background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
   
   }
   .room-holder-footer h5{
       font-size: 1.5rem;
       padding-bottom:0;
       margin-bottom: 0;
   }
   .all-users{
       background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
   
   
   }
   .active-users{
       background-image: radial-gradient( circle 897px at 9% 80.3%,  rgba(55,60,245,1) 0%, rgba(234,161,15,0.90) 100.2% );
   }
 
   .houseGIF-container{
    position: absolute;
    top: 20%;
    left: 0;
   }
   .houseGif{
    position:relative;
    width: 100%;
    height: 20%;
    display: block;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
   }
   .houseGIF-container h5{
    transform: translateY(-150%);
   }
 .room-info-content{
    position: absolute;
    transform: translateY(-20%);
   }

   .sidenav-body .ul .li{
    cursor: pointer;
   }
   .card-container-child{
    position: relative;
    width: 100%;
   }
   .card-container-child > div{
    max-width: 500px;
    flex: 1;
    flex-basis: 0;
   }
   @media screen and (max-width: 1100px){
   .room-will-appear-here{
    top: 30%;
    position: absolute;
   }
   }
   @media screen and (max-width: 911px){
     .room-info , .room-info-text {
        display: none;
     }
    .rooms{
        flex: 1;
        margin-left: 2rem;
    }
    .choose-room-text{
        margin-left: 2rem;
    }
    .card-container-child{
    overflow-x: scroll;
    }
   }
   @media screen and (max-width: 870px){
    .sidenav{
        left: -100%;
    }
    .body{
        left: -20%;
        width: 100vw;
    }
   }